<script lang="ts" setup>
import SysDialog from "@/components/dialog/SysDialog.vue";
import useDialog from "@/hooks/useDialog";
import {nextTick, reactive, ref} from "vue";
import {type AddWfDefinitionModel} from "@/api/workflow/wfDefinitionManage/WfDefinitionModel";
import {ElMessage, type FormInstance} from "element-plus";
import {addApi,editApi} from "@/api/workflow/wfDefinitionManage";
import {EditType, Title} from "@/type/BaseEnums";
import useInstance from "@/hooks/useInstance";
const { global } = useInstance()
//表单的ref属性
const addFormRef = ref<FormInstance>();
//弹框属性
const {dialog,onClose,onConfirm,onShow} = useDialog();
//显示弹框
const show = async (type:string,row?:AddWfDefinitionModel) => {
  //设置弹框标题
  type == EditType.ADD
      ? (dialog.title = Title.ADD)
      : (dialog.title = Title.EDIT);
  //如果是编辑，需要设置编辑的数据到表单显示
  if(type == EditType.EDIT){
    //设置回显的数据
    //nextTick() 方法的作用是当页面上的元素被重新渲染之后，才会指定回调函数中的代码
    //这里需要回显数据，所以需要等页面上的元素被重新渲染之后，再进行回显
    nextTick(()=>{
      global.$objCopy(row,addModel);
    })
  }

  onShow();
  //设置编辑的属性：0-新增；1-编辑
  addModel.type = type;
  //表单清空
  addFormRef.value?.resetFields();
}

//暴露出去，给外部组件使用
defineExpose({
  show
});

//定义表单绑定的属性
const addModel = reactive<AddWfDefinitionModel>({
  //主要用于区分是新增还是编辑，0-新增；1-编辑
  type:'',
  defId:'',
  defName:'',
  defDesc:'',
})

//表单验证规则
const rules = reactive({
  defId:[{required:true,message:'请输入流程编码',trigger:'blur'}],
  defName:[{required:true,message:'请输入流程名称',trigger:'blur'}],
  defDesc:[{required:true,message:'请输入流程说明',trigger:'blur'}],
})
//注册事件
const emits = defineEmits(['refresh']);
//表单提交
const commit = () => {
  //表单验证
  addFormRef.value?.validate(async(valid)=>{
    if(valid){
      let res = null;
      //新增
      if(addModel.type == EditType.ADD){
        res = await addApi(addModel);
      } else {
        //编辑
        res = await editApi(addModel);
      }
      if(res && res.code == "000000"){
        //子组件调用父组件的方法
        emits('refresh');
        //信息提示
        ElMessage.success(res.message);
        onClose();
      }
    }
  });
};

</script>

<template>
  <SysDialog
      :title="dialog.title"
      :width="dialog.width"
      :height="dialog.height"
      :visible="dialog.visible"
      size="default"
      @onClose="onClose"
      @onConfirm="commit"
  >
    <template v-slot:content>
      <el-form
          :model="addModel"
          ref="addFormRef"
          :rules="rules"
          label-width="80px"
          size="default"
      >
        <el-row>
          <el-col :span="24" :offset="0">
            <el-form-item label="流程编码" prop="defId">
              <el-input v-model="addModel.defId" placeholder="请输入流程编码"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="24" :offset="0">
            <el-form-item label="流程名称" prop="defName">
              <el-input v-model="addModel.defName" placeholder="请输入流程名称"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" :offset="0">
            <el-form-item label="流程说明" prop="defDesc">
              <el-input
                v-model="addModel.defDesc"
                :autosize="{ minRows: 2, maxRows: 4 }"
                type="textarea"
                placeholder="请输入流程说明"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </template>
  </SysDialog>
</template>

<style scoped>

</style>