<script lang="ts" setup>
import useTable from "@/composables/workflow/wfDefinitionManage/useTable";
import {Close, Delete, Edit, Plus, RefreshLeft, Search,Lock,Operation,View,DocumentAdd,Expand,Upload,Download} from "@element-plus/icons-vue";
import AddWfDefinition from '@/views/workflow/wfDefinitionManage/AddWfDefinition.vue'
import useWfDefinition from '@/composables/workflow/wfDefinitionManage/useWfDefinition'
//表格相关的操作
const {getList,listParam,searchBtn,resetBtn,tableList,sizeChange,currentChange,tableHeight,refresh} = useTable();
//新增、修改、删除操作
const {addBtn, editBtn, delBtn,addRef} = useWfDefinition(getList);
</script>

<template>
  <el-main>
    <!-- 搜索栏 -->
    <el-form
      :model="listParam"
      :inline="true"
      size="default"
    >
      <el-form-item label="父类">
        <el-input v-model="listParam.parentId" placeholder="请输入父类"></el-input>
      </el-form-item>
      <el-form-item label="流程编码">
        <el-input v-model="listParam.defId" placeholder="请输入流程编码"></el-input>
      </el-form-item>
      <el-form-item label="流程名称">
        <el-input v-model="listParam.defName" placeholder="请输入流程名称"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="searchBtn" :icon="Search">查询</el-button>
        <el-button type="danger" plain @click="resetBtn" :icon="RefreshLeft">重置</el-button>
        <el-button type="primary" @click="addBtn" :icon="Plus">新增</el-button>
        <el-button type="primary" @click="addBtn" :icon="Upload">导入</el-button>
        <el-button type="primary" @click="addBtn" :icon="Download">导出</el-button>
      </el-form-item>
    </el-form>
    <!-- 表格 -->
    <el-table :height="tableHeight" :data="tableList.list" border stripe>
      <el-table-column prop="defId" label="流程编码" align="center" width="300"></el-table-column>
      <el-table-column prop="defName" label="流程名称" align="center" width="300"></el-table-column>
      <el-table-column prop="defDesc" label="流程说明" align="center" width="300"></el-table-column>
      <el-table-column prop="createTime" label="创建时间" align="center" width="300"></el-table-column>
      <el-table-column prop="updateTime" label="修改时间" align="center" width="300"></el-table-column>
      <el-table-column prop="operator" label="操作人员" align="center" width="300"></el-table-column>
      <el-table-column label="操作" width="320" align="center" fixed="right">
        <template #default="scope">
          <el-tooltip class="item" effect="dark" content="扩展属性" placement="top">
            <el-button type="primary" size="small" @click="editBtn(scope.row)" :icon="Expand" circle></el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="历史版本" placement="top">
            <el-button type="success" size="small" @click="editBtn(scope.row)" :icon="View" circle></el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="修改" placement="top">
            <el-button type="info" size="small" @click="editBtn(scope.row)" :icon="Edit" circle></el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="删除" placement="top">
            <el-button type="danger" size="small" @click="delBtn(scope.row)" :icon="Edit" circle></el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="设计器" placement="top">
            <el-button type="warning" size="small" @click="delBtn(scope.row)" :icon="DocumentAdd" circle></el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="部署" placement="top">
            <el-button  size="small" @click="delBtn(scope.row)" :icon="Operation" circle></el-button>
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination style="margin-top:5px;margin-right:5px;text-align:right;"
                   @size-change="sizeChange"
                   @current-change="currentChange"
                   :current-page="listParam.start"
                   :page-sizes="[10, 20, 50, 100]"
                   :page-size="listParam.limit"
                   layout="->,total, sizes, prev, pager, next, jumper"
                   :total="listParam.total"
                   background
    />
    <!-- 新增、编辑弹框 -->
    <add-wf-definition ref="addRef" @refresh="refresh"></add-wf-definition>
  </el-main>
</template>

<style scoped>

</style>