<script lang="ts" setup>
import useTable from "@/composables/log/useTable";
import {Close, RefreshLeft, Search,Lock} from "@element-plus/icons-vue";
//表格相关的操作
const {listParam,searchBtn,resetBtn,tableList,sizeChange,currentChange,tableHeight,refresh} = useTable();
</script>

<template>
  <el-main>
    <!-- 搜索栏 -->
    <el-form
      :model="listParam"
      :inline="true"
      size="default"
    >
      <el-form-item label="功能模块">
        <el-input v-model="listParam.userId" placeholder="请输入用户编号"></el-input>
      </el-form-item>
      <el-form-item label="用户名称">
        <el-input v-model="listParam.userName" placeholder="请输入用户名称"></el-input>
      </el-form-item>
      <el-form-item label="操作方法">
        <el-input v-model="listParam.method" placeholder="请输入操作方法"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="searchBtn" :icon="Search">查询</el-button>
        <el-button type="danger" plain @click="resetBtn" :icon="RefreshLeft">重置</el-button>
      </el-form-item>
    </el-form>
    <!-- 表格 -->
    <el-table :height="tableHeight" :data="tableList.list" border stripe>
      <el-table-column type="index" label="序号" width="80" align="center"></el-table-column>
      <el-table-column prop="module" label="功能模块" align="center"></el-table-column>
      <el-table-column prop="type" label="操作类型" align="center">
        <template #default="scope">
          <el-tag v-if="scope.row.type=='SELECT'"  size="default" effect="dark"  >查询</el-tag>
          <el-tag v-if="scope.row.type=='UPDATE'" type="success" size="default" effect="dark" >修改</el-tag>
          <el-tag v-if="scope.row.type=='ADD'" type="success" size="default" effect="dark" >新增</el-tag>
          <el-tag v-if="scope.row.type=='DELETE'" type="danger" size="default" effect="dark" >删除</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="message" label="操作描述" align="center"></el-table-column>
      <el-table-column prop="takeUpTime" label="执行时间" align="center"></el-table-column>
      <el-table-column prop="userName" label="操作用户" align="center"></el-table-column>
      <el-table-column prop="method" label="操作方法" align="center"></el-table-column>
      <el-table-column prop="uri" label="请求url" align="center"></el-table-column>
      <el-table-column prop="ip" label="请求IP" align="center"></el-table-column>
      <el-table-column prop="version" label="版本号" align="center"></el-table-column>
      <el-table-column prop="createTime" label="创建时间" align="center"></el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination style="margin-top:5px;margin-right:5px;text-align:right;"
                   @size-change="sizeChange"
                   @current-change="currentChange"
                   :current-page="listParam.start"
                   :page-sizes="[10, 20, 50, 100]"
                   :page-size="listParam.limit"
                   layout="->,total, sizes, prev, pager, next, jumper"
                   :total="listParam.total"
                   background
    />
  </el-main>
</template>

<style scoped>

</style>