<script setup>
import {testStore} from '@/store/test/index.js'
import {storeToRefs} from 'pinia'
const store = testStore()
const {count} = storeToRefs(store) ;
const addBtn = ()=>{
  //方式一
  // ++store.count
  //方式二
  // store.setCount(++store.count)
  //方式三
  // store.$patch({
  //   count: ++store.count
  // })
  //方式四
  store.$patch((state)=>{
    state.count = ++state.count
  })
}
</script>

<template>
  <el-row class="mb-4">
    <el-button>Default</el-button>
    <el-button type="primary">Primary</el-button>
    <el-button type="success">Success</el-button>
    <el-button type="info">Info</el-button>
    <el-button type="warning">Warning</el-button>
    <el-button type="danger">Danger</el-button>
  </el-row>
  <el-button type="primary" @click="addBtn">新增</el-button>
  {{count}}
</template>

<style scoped>

</style>