<script setup>

import {Lock, SwitchButton, User} from "@element-plus/icons-vue";
</script>

<template>
  <el-dropdown>
        <span class="el-dropdown-link">
          <el-icon class="el-icon--right"><arrow-down /></el-icon>
        </span>
    <template #dropdown>
      <el-dropdown-menu>
        <el-dropdown-item :icon="User">个人信息</el-dropdown-item>
        <el-dropdown-item :icon="Lock">修改密码</el-dropdown-item>
        <el-dropdown-item :icon="SwitchButton">安全退出</el-dropdown-item>
      </el-dropdown-menu>
    </template>
  </el-dropdown>
</template>

<style lang="scss" scoped>
.el-dropdown-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
}
</style>