<script setup>
import {computed} from "vue";
import {Fold,Expand} from "@element-plus/icons-vue";
import {collapseStore} from "@/store/collapse/index.js";
//获取store
const store = collapseStore();
//获取collapse
const status = computed(()=>{
  return !store.getCollapse;
});
//改变collapse
const setCollapse = ()=>{
  store.setCollapse(!store.collapse)
}
</script>

<template>
  <el-icon class="icons" :size="24" @click="setCollapse">
    <component :is="status ? Fold : Expand"/>
  </el-icon>
</template>

<style lang="scss" scoped>
  .icons{
    cursor: pointer;
  }
</style>