<script lang="ts" setup>
import AddUser from "@/views/system/user/AddUser.vue";
import useUser from "@/composables/user/useUser";
import useTable from "@/composables/user/useTable";
import {Close, Delete, Edit, Plus, RefreshLeft, Search,Lock} from "@element-plus/icons-vue";
//表格相关的操作
const {getList,listParam,searchBtn,resetBtn,tableList,sizeChange,currentChange,tableHeight,refresh} = useTable();
//新增、修改、删除操作
const {addBtn, editBtn, delBtn,resetPwdBtn,addRef} = useUser(getList);
</script>

<template>
  <el-main>
    <!-- 搜索栏 -->
    <el-form
        :model="listParam"
        :inline="true"
        size="default"
    >
      <el-form-item label="用户编号">
        <el-input v-model="listParam.userId" placeholder="请输入用户编号"></el-input>
      </el-form-item>
      <el-form-item label="用户名称">
        <el-input v-model="listParam.userName" placeholder="请输入用户名称"></el-input>
      </el-form-item>
      <el-form-item label="手机号码">
        <el-input v-model="listParam.phone" placeholder="请输入手机号码"></el-input>
      </el-form-item>
      <el-form-item label="昵称">
        <el-input v-model="listParam.nickName" placeholder="请输入昵称"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="searchBtn" :icon="Search">查询</el-button>
        <el-button type="danger" plain @click="resetBtn" :icon="RefreshLeft">重置</el-button>
        <el-button type="primary" @click="addBtn" :icon="Plus">新增</el-button>
      </el-form-item>
    </el-form>
    <!-- 表格 -->
    <el-table :height="tableHeight" :data="tableList.list" border stripe>
      <el-table-column type="index" label="序号" width="80" align="center"></el-table-column>
      <el-table-column prop="userId" label="用户编号" align="center"></el-table-column>
      <el-table-column prop="userName" label="用户名称" align="center"></el-table-column>
      <el-table-column prop="phone" label="手机号" align="center"></el-table-column>
      <el-table-column prop="email" label="邮箱" align="center"></el-table-column>
      <el-table-column prop="sex" label="性别" align="center">
        <template #default="scope">
          <el-tag v-if="scope.row.sex=='0'" type="danger" size="default" effect="dark"  >男</el-tag>
          <el-tag v-if="scope.row.sex=='1'" type="success" size="default" effect="dark" >女</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="nickName" label="昵称" align="center"></el-table-column>
      <el-table-column prop="loginDate" label="最后登录时间" align="center"></el-table-column>
      <el-table-column prop="status" label="帐号状态" align="center">
        <template #default="scope">
          <el-tag v-if="scope.row.status=='0'" type="success" size="default" effect="dark"  >启用</el-tag>
          <el-tag v-if="scope.row.status=='1'" type="danger" size="default" effect="dark" >停用</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="remark" label="备注" align="center"></el-table-column>
      <el-table-column prop="createTime" label="创建时间" align="center"></el-table-column>
      <el-table-column prop="updateTime" label="更新时间" align="center"></el-table-column>
      <el-table-column label="操作" width="320" align="center">
        <template #default="scope">
          <el-button type="primary" size="default" @click="editBtn(scope.row)" :icon="Edit">编辑</el-button>
          <el-button type="danger" size="default" @click="delBtn(scope.row)" :icon="Delete">删除</el-button>
          <el-button type="warning" size="default" @click="resetPwdBtn(scope.row)" :icon="Lock">重置密码</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination style="margin-top:5px;margin-right:5px;text-align:right;"
                   @size-change="sizeChange"
                   @current-change="currentChange"
                   :current-page="listParam.start"
                   :page-sizes="[10, 20, 50, 100]"
                   :page-size="listParam.limit"
                   layout="->,total, sizes, prev, pager, next, jumper"
                   :total="listParam.total"
                   background
    />
    <!-- 新增、编辑弹框 -->
    <add-user ref="addRef" @refresh="refresh"></add-user>
  </el-main>
</template>

<style scoped>

</style>