<script lang="ts" setup>
import useRole from "@/composables/role/useRole";
import useTable from "@/composables/role/useTable";
import {Close, Delete, Edit, Plus, RefreshLeft, Search} from "@element-plus/icons-vue";
import AddRole from "@/views/system/role/AddRole.vue";
//表格相关的操作
const {getList,listParam,searchBtn,resetBtn,tableList,sizeChange,currentChange,tableHeight,refresh} = useTable();
//新增、修改、删除操作
const {addBtn, editBtn, delBtn,addRef} = useRole(getList);
</script>

<template>
  <el-main>
    <!-- 搜索栏 -->
    <el-form
        :model="listParam"
        :inline="true"
        size="default"
    >
      <el-form-item label="角色名称">
        <el-input v-model="listParam.roleName" placeholder="请输入角色名称"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="searchBtn" :icon="Search">查询</el-button>
        <el-button type="danger" plain @click="resetBtn" :icon="RefreshLeft">重置</el-button>
        <el-button type="primary" @click="addBtn" :icon="Plus">新增</el-button>
      </el-form-item>
    </el-form>
    <!-- 表格 -->
    <el-table :height="tableHeight" :data="tableList.list" border stripe>
      <el-table-column type="index" label="序号" width="80" align="center"></el-table-column>
      <el-table-column prop="roleName" label="角色名称" align="center"></el-table-column>
      <el-table-column prop="remark" label="备注" align="center"></el-table-column>
      <el-table-column prop="createTime" label="创建时间" align="center"></el-table-column>
      <el-table-column label="操作" width="200" align="center">
        <template #default="scope">
          <el-button type="primary" size="default" @click="editBtn(scope.row)" :icon="Edit">编辑</el-button>
          <el-button type="danger" size="default" @click="delBtn(scope.row)" :icon="Delete">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination style="margin-top:5px;margin-right:5px;text-align:right;"
      @size-change="sizeChange"
      @current-change="currentChange"
      :current-page.sync="listParam.start"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="listParam.limit"
      layout="->,total, sizes, prev, pager, next, jumper"
      :total="listParam.total"
      background
    />
    <!-- 新增、编辑弹框 -->
    <add-role ref="addRef" @refresh="refresh"></add-role>
  </el-main>
</template>

<style scoped>

</style>