<script setup>
import {ref, watch} from 'vue'
//获取logo
import MenuLogo from "@/assets/favicon.ico";
const title = ref('工作流管理系统')
//接收父组件传递的参数
const props = defineProps({
  isCollapsed: {
    required: true,
    type: Boolean,
  }
})

//解决收缩卡顿的问题:通过延时技术处理
const show = ref(true);
watch(
    ()=>props.isCollapsed,
    (collapsed)=>{
      if(!collapsed){
        setTimeout(()=>{
          show.value = !collapsed;
        },300)
      } else {
        show.value = !collapsed;
      }
    }
)
</script>

<template>
  <div class="logo">
    <img :src="MenuLogo">
    <span v-if="show" class="logo-title">{{title}}</span>
  </div>
</template>

<style lang="scss" scoped>
.logo{
  display: flex;
  width: 100%;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  img{
    width: 36px;
    height: 36px;
    margin-left: 20px;
    margin-right: 12px;
  }
  .logo-title{
    color: #ffffff;
    font-size: 24px;
    font-width: 600;
    font-family: 华文行楷;
  }
}
</style>