<template>
  <div class="container">
    Copyright © 2023-2025 超哥 版权所有&nbsp;&nbsp;<a href="https://gitlab.com/project-engineering/generator-boot-starter" target="_blank">generator-boot-starter</a>
  </div>
</template>

<script setup>

</script>

<style lang="scss" scoped>
.container{
  padding: 20px;
  display: flex;
  //使用flexbox布局在父元素的样式中，添加display: flex;和justify-content: center;属性。
  justify-content: center;
}
</style>